[submodule "icdc-dataloader"]
	path = icdc-dataloader
	url = https://github.com/CBIIT/icdc-dataloader.git
[submodule "crdc-ctdc-backend"]
	path = crdc-ctdc-backend
	url = https://github.com/CBIIT/crdc-ctdc-backend.git
